---
title: "KDE e.V. supported developer meetings"
layout: page
---

<h2>General Information</h2>

<p>
KDE e.V. has a good tradition of supporting developer meetings. These focused
gatherings of a small group of developers in a productive environment are one of
the most effective ways to get something done for KDE. Amazing results are the
rule, not the exception. Money spent on these developer meetings is money well
spent.</p>

<p>The goal is to have 
approximately ten small developer meetings per year to help ensure that
KDE is strong throughout its continued development. Usually there are 10-15
people at the meetings. We have a newbie quota, so at least one or two new
developers are invited as well. For documenting the results we require a story
on <a href="https://dot.kde.org">the dot</a>.</p>

<h2>Upcoming developer meetings</h2>

<p>If you are a
KDE contributor and would like to organize a developer meeting, please get in
contact with the <a href="mailto:kde-ev-board@kde.org">KDE e.V. Board</a>.</p>

<p>Most Developer meetings are managed via the <a href="https://reimbursements.kde.org/">Reimbursements Website</a>.</p>

<h2>List of past developer meetings</h2>
<p>
We maintain a list of past developer meetings on our <a href="https://community.kde.org/KDE_e.V./Sprints">Community Wiki</a>. On this page, you can find information on developer meetings KDE e.V. including pointers to what has been achieved during these meetings.
</p>
