<div class="row count">
  <div class="col-sm-6 col-md-4 col-12 board">
    <img class="img-circle center-block img-responsive" src="images/Aleix.jpg"/>
    <p>Aleix Pol i Gonzàlez
      <br/>
      <i>President</i>
    </p>
  </div>

  <div class="col-sm-6 col-md-4 col-12 board">
    <img class="img-circle center-block img-responsive" src="images/eike.jpg"/>
    <p>Eike Hein
      <br/>
      <i>Treasurer and Vice President</i>
    </p>
  </div>

  <div class="col-sm-6 col-md-4 col-12 board">
    <img class="img-circle center-block img-responsive" src="images/lydia.jpg"/>
    <p>Lydia Pintscher
      <br/>
      <i>Vice President</i>
    </p>
  </div>

  <div class="col-sm-6 col-md-4 col-12 board">
    <img class="img-circle center-block img-responsive" src="images/neofytos.jpg"/>
    <p>Neofytos Kolokotronis
      <br/>
      <i>Board Member</i>
    </p>
  </div>

  <div class="col-sm-6 col-md-4 col-12 board">
    <img class="img-circle center-block img-responsive" src="images/adriaan.jpg"/>
    <p>Adriaan de Groot
      <br/>
      <i>Board Member</i>
    </p>
  </div>
</div>
