<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kde-logo.png"/> KDE Board Meeting, April 2018, Berlin</h2>
                    <h5>By Thomas Pfeiffer and Andy Betts</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                        
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/board.jpg" alt=""/>
                                <figcaption>From left to right: Sandro, Thomas, Aleix, Eike and Lydia.</figcaption>
                            </figure>
                        
                            <p>On the last weekend of April, The KDE e.V. Board met in our new office in Berlin for 2018's only Board sprint.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The complete Board, Lydia, Aleix, Eike, Sandro and Thomas, attended and Petra, the Board's Office Manager, joined us on Saturday.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We discussed strategic topics such as generating ideas for spending the large donation we had received from the Pineapple Fund. We also worked on opening the call for locations for Akademy to continents other than Europe. We worked on operational topics, like creating a list of KDE e.V.'s inventory and optimizing the process for getting printed promo material to conferences, and discussed administrative duties resulting from the General Data Protection Regulation (GDPR).</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>A big topic was the KDE Community Goals and how the board could support the goal teams even better. We noted we were missing clear criteria for choosing which organizations to engage in strategic partnerships with, or whom to hire, so we started working on guidelines.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Other things we worked on were getting rid of blockers to KDE e.V.'s optimal functioning, such as kicking the process for the KDE website redesign into higher gear; solving the problems with our supporting membership management solution, CiviCRM; or finding ways to motivate KDE e.V.'s working groups to be more active.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>All in all, we had a very productive weekend, solved many tasks and got started on many more.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The weekend wasn't all work, though, as we also had a small housewarming party for our new office and were joined by some KDE e.V. members who were in town.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br/>
</section>
