<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><a href="https://las.gnome.org/conferences/LAS">Libre Application Summit</a></h2>
                    <h5>Based on a <a href="https://tsdgeos.blogspot.com/2018/09/libre-application-summit-2018.html">blog post by Albert Astals</a></h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                             <figure class="image-full">
                                <img width="100%" src="images/events/LibreApplicatioSummit_letterbox_1500w.jpg" alt=""/>
                                <!-- <figcaption>Neofytos Kolokotronis explains how to facilitate the onboarding of new members into the community.</figcaption> -->
                             </figure>                                                
                            
                            <p>Early in September, Aleix Pol and Albert Astals attended the <a href="https://las.gnome.org/conferences/LAS">Libre Application Summit</a> 2018 in Denver.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The Libre Application Summit intends to bring together all people involved in making Free Software applications so they can meet and share ideas. Although it is somewhat biased towards  GNOME/Flatpak (it is, after all, organized by <a href="https://www.gnome.org/">GNOME</a>), there was a strong presence of KDE developers, too.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The Summit kicked off with a motivational talk on how to make sure developers enjoy the fact that "Open Source has won", even though there are people who don't know it. The introductory talk was followed by some <a href="https://flatpak.org/">Flatpak</a> related talks, ranging from the new freedesktop-sdk runtime, to some very technical details about how OSTree works. The session also included a talk by Aleix on how KDE is planning to approach the release of Flatpaks. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The next day, Albert started the cycle of talks by explaining how he and Christoph Feck are managing the KDE Applications releases. The audience appreciated the good work KDE is carrying out in this department and Albert got some interesting follow-up questions.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The session continued with talks on how to engage the "non-typical" Free software people, like designers, students, teachers, and other groups. After lunch, the Elementary people gave a few talks, followed by another talk from Aleix. In this talk, he focused on which apps will run on Plasma devices (spoiler: all of them!). The second day wrapped up with a quiz sponsored by System76.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The last day of talks started again with Albert speaking, this time about how the many advantages of Qt can help developers build apps. Again there were some interesting questions, this time from people worrying if <a href="https://doc.qt.io/qt-5/qtwidgets-index.html">QtWidgets</a> was going to be discontinued. Albert reassured the audience that this was not the case, although it seems that the Qt Company may need to address these concerns at some point.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Next up, there was an intriguing talk about a Fedora project that intends to create a distribution built exclusively with Flatpaks. The final talks of LAS 2018 covered a wide range of topics, from how to fight vandalism in crowdsourced data, to the status of Librem 5, and including an engaging chat about the status of Free Software in research.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Overall, the conference was really enjoyable, although a bit small and slightly too GNOME-centric to appeal to a wider crowd. Still, this was only the second edition of the event, so no doubt it will improve in all aspects.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br/>
</section>
