<br id="quotes"/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Thoughts from some of our partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    Together with the KDE-Community we were able to build our new LiMux-Release walhalla/6.0.0, which is based on Kubuntu 18.04. We are very happy that many of our bugfixes/features went upstream.
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
                        <i>Tobias Fischbach, LiMux</i>
                    </p>
                </div>
            </blockquote>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    KDE's commitment to simultaneous ethical and technological excellence is a real boon to the free software movement. The hard work done by the developers in this community is truly inspiring.
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
                        <i>John Sullivan, Executive Director of the Free Software Foundation</i>
                    </p>
                </div>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    KDE is instrumental for the progress of the FLOSS desktop environment, to provide end users with a community and volunteer driven state of the art solution. We at The Document Foundation have been collaborating with KDE on common development aspects of office software - such as usability and visual design - and in the OASIS technical committee for the advancement of the ODF (Open Document Format) standard, and look forward to new common achievements in 2019.
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
                        <i>Thorsten Behrens, Director of The Document Foundation</i>
                    </p>
                </div>
            </blockquote>
        </div>
        <!--
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    KDE's commitment to simultaneous ethical and technological excellence is a real boon to the free software movement. The hard work done by the developers in this community is truly inspiring.
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
                        <i>John Sullivan, Executive Director of the Free Software Foundation</i>
                    </p>
                </div>
            </blockquote>
        </div>
        -->
    </div>    
    
    <br/>
    <br/>
    <br/>
</div>

<style>
    blockquote {
        font-family: 'Droid Sans', sans-serif;
        border-left: none
    }

    .inner-block {
        overflow: hidden;
        border-radius: 17px;
        background-color: #028fcc;
        margin-top: 25px;
        color:  white;
        box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.75);
    }

    .block-text {
        font-size: 16px;
        margin-top: 13px;
    }
</style>
