<figure class="image-right">
    <img width="100%" src="images/Aleix_800.jpg" alt="Picture of Aleix Pol" />
</figure>

<p>2019 was an exciting year for KDE and its community. Once more, we delivered excellent Free Software for the world to enjoy and we did it as a great team that can achieve beautiful things together.</p>

<p>The best way to look back at KDE’s 2019 is through <a href="https://kde.org/goals">the three new goals</a> the KDE Community selected: <a href="https://community.kde.org/Goals/Wayland">Wayland</a>, <a href="https://community.kde.org/Goals/Consistency">Consistency</a> and <a href="https://community.kde.org/Goals/All_about_the_Apps ">All About the Apps</a>. These explain who and where we are in many ways. We create solutions using the best technologies available, we strive to offer excellent products for our users to use comfortably, and with all the features they need to rely on Free Software for their tasks; professional and otherwise. We have started working on the new KDE Goals while delivering our software consistently, like we have done over decades, and without losing the former goals of privacy, usability and on-boarding of new contributors.</p>

<p>The different goals and projects need support. In-person meetings have proved to be among the best tools the KDE e.V. has to enable contributors to work together comfortably, which is of most importance for a decentralised community like ours. We met last September in Milan to celebrate  Akademy 2019, our yearly conference, where we had great presentations, discussions and made preparations for the year to come. Additionally, we had over 15 sprints over the year, for the different teams and projects to meet and work without distractions.</p>

<p>KDE and Free Software ultimately is about collaborating in many ways. In 2019, we organised the Linux App Summit along with the GNOME Foundation. This allowed us to gather, together with the wider range of organisations that care, a true FOSS environment to create a better ecosystem for our users and developers.</p>

<p>All of this and the rest you will read in this report wouldn’t be possible without your support. Special thanks to all supporting members during 2019 and to everyone who worked with us. Each contribution is valuable.</p>

<p>Looking forward to a productive 2020. See you all in the Community!</p>

<p><strong>Aleix Pol</strong> for KDE e.V. Board of Directors</p>
