<div class="text-center">
    <figure class="m-3 p-3"><img src="images/PlasmaMobile/Plasma_Mobile_team_Group_Photo_1.jpg" width="100%" /><br /><figcaption>Group picture of the attendees at the Plsma Mobile sprint.</figcaption></figure>
</div>

During the week from the 4th to the 10th of February, the KDE <a href="https://www.plasma-mobile.org/">Plasma Mobile</a> team held the first ever Plasma Mobile sprint in Berlin.

On the first day, we collected important tasks, planned our work and discussed future releases of the project. We worked on the following tasks:

<h3>User interface</h3>

Ilya Bizyaev visually refreshed the Plasma Mobile shell and brought it nearer to the mockups. Meanwhile, Marco Martin refactored and simplified the codebase of the top sliding panel, making the user interface code simpler and more maintainable.

<h3>Documentation</h3>

<figure class="img-desktop-right">
    <img width="300px" class="img-fluid" src="images/PlasmaMobile/Plasma_Mobile_team_Screenshot_2.png" />
</figure>

Dimitris Kardarakos improved the documentation to make the development environment setup and the application development easier for everyone. Thanks to his work, we now have a Kirigami tutorial.

Moreover, the instructions to build QEMU and Virgil 3D from the source code have been substituted with the installation of just a single snap package. He also explored new ways we could leverage Flatpak and update the website with the Debian based images.

Ilya Bizyaev helped make the new documentation resources more discoverable by cleaning up old wiki pages and setting redirects where appropriate.

### Infrastructure

During the sanity checks of the Plasma Mobile documentation, we found that building Flatpak for the phone was failing in KDE Neon User Edition. Since the root cause lied in the qemu-user-static and binfmt configuration in bionic, Harald Sitter provided a workaround until the issue got solved upstream.

### Applications

Simon Schmeisser worked on our mobile <a href="https://invent.kde.org/plasma-mobile/plasma-angelfish">Angelfish</a> web browser which now makes more use of Kirigami, displays favicons, and provides auto completion of search queries. We are planning to give Angelfish a more Kirigami-streamlined look once Marco Martin’s patch for resizing windows on keyboard input is accepted. Related to this, Jonah Brüchert added settings for configuring a search engine and a homepage.

Linus worked on <a href="https://www.kaidan.im/">Kaidan</a>, an XMPP Messaging client for Plasma Mobile and many other platforms. Kaidan now provides a download manager to download and cache files instead of downloading them again each time it starts. Jonah’s merge request to add an emoji picker to Kaidan was also accepted. You can expect more features and a rewritten database backend soon.

Marco Martin fixed and improved many areas of <a href="https://www.kaidan.im/">Kirigami</a>, enabling some of our changes in Angelfish we mentioned above. One of the improvements makes it possible to leave Kirigami layers on a mobile device without requiring the app developer to add a close button, another is that Kirigami also got a new API to customize the application top bar headers. A lot of work was done to refactor its signature column-based navigation user interface which would allow for many new features.

<figure class="img-desktop-right">
    <img width="300px" class="img-fluid" src="images/PlasmaMobile/Plasma_Mobile_team_Pinephone_devkit.jpg" />
</figure>

Nicolas Fella worked on improving KDE Connect on Plasma Mobile. Most of the work went into integrating the settings from the desktop side in the mobile app. We also verified that the SMS and telephony stack of the Nexus 5X was functional and discussed ideas for an appropriate user interface.

Camilo Higuita had been working on the MauiKit framework and the Maui set of apps for almost a year at the time of the sprint and some of those apps were shipped with Plasma Mobile by default. His work mostly consisted of bringing those apps up to date, adding missing features and fixing bugs along the way. He also worked on getting acquainted with the Plasma Mobile shell, its plasmoids, their architecture and structure since his plan was to eventually hacking on the shell. All the Maui apps (Index, Vvave, Buho and Nota) are now using a better modeling system that allows for better control over the content, gives users a cleaner interface and has gained some features along the way, like content sorting, file searching, better editor control and more.

<h3>Packaging and Software management</h3>

Jonah Brüchert created a patch for Discover that fixed icons being incorrectly displayed on the update page and made all of our improvements and new applications available in the Debian repository. Continuing with Discover, Aleix Pol also fixed the issue of non-mobile-friendly applications being recommended in Discover on Plasma Mobile. Aleix also made many new mobile-friendly applications available in the KDE Flatpak repository.

Bhushan Shah worked on further improving our KDE Neon-based images. They are now up to date with the latest changes including patches for better scaling of the Plasma Shell and applications under hwcomposer backend from David Edmundson. Meanwhile, Bart Ribbers made more Plasma Mobile apps and updates available in postmarketOS, so you can now, for example, install and use Kaidan and Angelfish on it.

<h3>Devices and Hardware</h3>

In addition to software work, the Plasma Mobile team also worked on various hardware projects. Before the sprint, the KDE Community attended FOSDEM, where we demonstrated Plasma Mobile running on the <a href="https://riscv.org/">RISC-V hardware</a>, thanks to the work carried out by Alistair Francis from Western Digital.

During the sprint, we were joined by Dorota Czaplejewicz from <a href="https://puri.sm/">Purism</a> who works for the <a href="https://puri.sm/products/librem-5/">Librem 5</a> project. Purism has provided Librem 5 developer kits to Plasma Mobile developers, and with help from Dorota, we were able to bring Plasma Mobile up on the kits.

Talking of which, during FOSDEM and the sprint, Bart Ribbers also worked on bringing up Plasma Mobile on the <a href="https://www.pine64.org/pinephone/">Pinephone</a> devkit, Project Anakin.
