<p>Our goal is to deliver the best Plasma experience and, while X11 has served us for a long time, we realized a few years ago that adopting Wayland was the way to go. This is why we set out during the 2019 call for Goals to step forward and suggest polishing our Wayland experience.</p>

<p>For KDE software and KDE Plasma, there has been a long lasting effort to implement support for this architecture spread throughout our UI stack and upstream projects. Plasma mobile has its roots firmly planted in the Wayland architecture.</p>

<p>We have been implementing missing pieces and tracking down bugs affecting our software across the stack. We're getting more involved with upstream Wayland, as well as Qt. Our intention is to get involved within the Wayland community to push the state of the art.</p>

<p>Since the goal was announced a plethora of bugs have been fixed and we are making steady progress in the right direction. We're putting in that extra effort on polishing the details. We aim to make sure that every part of the KDE and Plasma experiences shine through Wayland, making it possible to complement the rest of our existing Goals, such as improved privacy and making our applications run at their very best.</p>

<p>Two sprints were held during 2019 that tied in with the Wayland goal. A Plasma sprint was held in Valencia, covering all Plasma topics, including how Wayland ties into our desktop and mobile offerings and what we need.</p>

<p>We also held a more focused kwin-specific sprint at the SuSE offices in Nuremberg. During this, we worked through our existing pain points and laid out what we wanted to achieve for the next year.</p>

<p>You can look up our <a href="http://www.bivouak.fr/post/2020/05/31/Wayland-Status-update-Plasma-5.19">status report regarding Plasma 5.19 Wayland progress</a> online.</p>

<p>While we are all excited and working on it, there's still plenty of work to do! You can reach out to people involved in the goal in the <a href="https://mail.kde.org/mailman/listinfo/kwin">KWin mailing list</a> and on IRC at #kwin on Freenode. We look forward to helping people who want to participate.</p>                           
