<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="http://2017.fossasia.org/" target="_blank"><img src="images/fossasia-logo.png"/> FOSSASIA 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The <a href="http://2017.fossasia.org/" target="_blank">FOSSASIA Summit</a> was held from the 17th to 19th of March in Singapore. 
Many FOSS communities showcased their hardware, designs, graphics, and software at the conference. Anu Mittal represented the KDE community with a a talk on "'K'oding with KDE". Anu talked about the KDE community, its mission and vision, and the various mentoring programs organized by KDE to support budding developers.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>She introduced the audience to all the steps required to start contributing to KDE, and presented the KDE bug tracker, the IRC channels, various application domains, and the Season of KDE proposal format. Anu also shared the story of her projects with <a href="https://season.kde.org/" target="_blank">Season of KDE</a> and <a href="https://summerofcode.withgoogle.com/" target="_blank">Google Summer of Code</a>. The audience was enthusiastic and curious to start contributing in KDE. Anu's motivating experience left a positive impact on the local community members. We hope to capture this interest and help them develop into contributing members of the KDE community. </p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
