<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://mycroft.ai/" target="_blank"><img src="images/mycroft-logo.png"/> Mycroft</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>Voice assistants are coming to every device, every household, and every platform. We want them because they are intuitive, simple and powerful.  They bring together massive amounts of data and intuitively put together the pieces required to provide us with meaningful information.  This not only enhances our daily computing experience, but also makes basic life tasks like setting alarms or controlling smart home devices simple. The base technologies that power virtual assistants &#8210; wake word listeners, speech-to-text engines, natural language processing, intent parsers, text-to-speech systems &#8210; were previously walled-off and only lived behind proprietary "black box" implementations like <a href="https://www.amazon.com/b/?ie=UTF8&node=9818047011&tag=googhydr-20&hvadid=243962517990&hvpos=1t1&hvnetw=g&hvrand=11790767671755796447&hvpone=&hvptwo=&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=1023640&hvlocphy=1001533&hvtargid=kwd-295921609170&ref=pd_sl_ijuevad4z_e" target="_blank">Alexa</a>, <a href="https://www.apple.com/ios/siri/" target="_blank">Siri</a> and <a href="https://www.microsoft.com/en-us/cortana" target="_blank">Cortana</a>. <a href="https://mycroft.ai/" target="_blank">Mycroft</a> is the very first open source artificial intelligence platform that pulls together the entire technical voice stack for a completely open source implementation.  The flexible architecture allows both users and developers to pick the right technology for their technical and privacy needs and wants.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>The local-first design limits the requirement to push things to the cloud (AKA "somebody else's computer"). Embracing the open source ethos, Mycroft is working with others to build something better together. Collaboration with Mozilla Research will result in a better Speech-to-Text engine for  everyone, simultaneously pioneering the idea of ethically sharing data without losing personal control via the Open Dataset.  Building on work from Carnegie Mellon and Google has led to the <a href="https://github.com/MycroftAI/mimic" target="_blank">Mimic</a>, <a href="https://mycroft.ai/documentation/precise/" target="_blank">Precise</a> and <a href="https://github.com/MycroftAI/padatious" target="_blank">Padatious</a> technologies.  Working with KDE is setting the standard for combining a voice assistant with a rich desktop environment. The <a href="https://dot.kde.org/2018/02/23/mycroft-ai-plasma" target="_blank">Mycroft Plasmoid</a>, an intuitive GUI built using the powerful Qt frameworks, was adopted into KDE as a project this year. The Plasmoid allows users to leverage the power and intelligence of Mycroft's core technologies to connect to the voice assistant ecosystem and extend it with a new layer for desktop control and visual interaction.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/mycroft.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Mycroft</h3>
                                    <p>AI integrated in your KDE Plasma workspace</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/mycroft.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>In combination with the Plasmoid GUI, Mycroft supports voice interaction with system settings, desktop components and user applications. Get stuff done seamlessly on your Plasma platform &#8210; no more searching for the right button or menu item in the right application or dialog box. Open applications, set reminders, manage calendar schedules, search for files, manage your activities, control IoT lights, get the latest news and weather updates, play your favorite music or listen to witty (or cringy) jokes.  The number of things Mycroft can do is growing daily. The developer community is creating quality skills that are easy to find and can be installed verbally or via the intuitive Mycroft Plasmoid GUI. As the integration with Mycroft matures, more core KDE applications will be able to provide an integrated experience. The possibilities are exciting, and the KDE Plasma platform is on the path to become the "futuristic" computer we've all dreamed of using!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
