<br id="quotes"/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Thoughts from some of our partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    KDE are a welcoming and dynamic community. Their collaboration on Snap is forging the future of the Linux desktop &#8210; stable, secure and innovative. We can't wait to see what 2018 will bring KDE!
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
		    <i>Canonical</i>
                    </p>
                </div>
            </blockquote>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
            <blockquote class="inner-block">
                <span class="fa fa-3x fa-quote-right"></span>
                <p class="block-text">
                    The KDE project is one of the essential pieces of the FLOSS desktop initiative, and we share goals in lots of areas ranging from document filter technologies to volunteer-driven governance. Both KDE and The Document Foundation are working in the OASIS technical committee for the OpenDocument format, and also collaborate on common aspects of development of office software, such as usability and visual design.
                </p>
                <hr>
                <div>
                    <p class="float-xs-left">
		    <i>Thorsten Behrens, The Document Foundation</i>
                    </p>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<style>
    blockquote {
        font-family: 'Droid Sans', sans-serif;
        border-left: none
    }

    .inner-block {
        overflow: hidden;
        border-radius: 17px;
        background-color: #028fcc;
        margin-top: 25px;
        color:  white;
        box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.75);
    }

    .block-text {
        font-size: 16px;
        margin-top: 13px;
    }
</style>
