---
title: "Rules of Procedures of KDE e.V. Board"
layout: page
---

<h2 id="preamble">Preamble</h2>

<p>The board of KDE e.V. is elected to run the business of KDE e.V., and represent
KDE e.V. and the community where more formal representation is needed. It
executes the decisions of the membership, but also plays an active role in
preparing and proposing decisions.</p>

<p>The board works as a team. It holds its members to a high standard of
constructive collaboration. Board members are expected to be available and
responsive to perform the daily business, and diligent about taking and
transferring responsibility.</p>

<p>While board members apply their skills and experience for KDE e.V. and the KDE
community they also learn and grow in and through their position.</p>

<p>The board delegates work to the membership where appropriate and involves KDE
e.V. and community members in activities and decisions to tap into the wide
potential of the people of the community to advance KDE's cause, to bring free
software to end users.</p>

<p>These rules of procedure for the board of KDE e.V. detail how the board operates
based on the ground rules defined in the articles of association.</p>


<h2 id="roles">Roles</h2>

<p>The board elects a number of its members to take over special roles according
to the articles of association. These roles are president, vice president, and
treasurer. Their specific responsibilities are described below.</p>

<p>Notwithstanding the special roles the board takes responsibility for all
decision as a team.</p>

<h3 id="president">President</h3>

<p>The president is the default responsible for inviting to board meetings, and
representing KDE e.V. Other board members can step in without formal decision,
unless there are objections. In the latter case a board vote decides.</p>

<h3 id="treasurer">Treasurer</h3>

<p>The treasurer is responsible for checking the financial activities, and
preparing the numbers for reports and decisions.</p>

<p>Decisions about expenses are taken by the board as a whole.</p>

<h3 id="vice-president">Vice President</h3>

<p>The vice presidents are the backup of the president.</p>


<h2 id="communication">Communication</h2>

<p>The board primarily communicates through electronic means, such as email or
IRC in order to allow every board member to participate on the same level,
independent of location or time zone.</p>

<p>The board mailing list is the central communication channel, where information
should be collected, decisions taken, or announced. The board mailing list also
is the primary point of contact for all questions and other communication
towards the board. The board list is private to the board. On unanimous
decision the board can permit specific individuals to be subscribed to the
board list as well.</p>

<p>The board uses an electronic document archive to provide persistent storage of
all relevant content created by or relevant to the board work. The archive is
private to the board. On unanimous decision the board can permit specific
individuals to have access as well.</p>

<p>All written communication should be in English to allow present and future
board members to follow.</p>


<h2 id="meetings">Meetings</h2>

<p>The board should have regular meetings to discuss board business and take
decisions. The results of these meetings have to be documented for the board,
and communicated to the membership. The board may exclude specific topics from
the communication to the members, if there is good reason to do so, e.g.
privacy issues.</p>

<p>The president or another board member invites to board meetings at least 24
hours before the meeting with an agenda. The agenda can be modified later as
needed.</p>

<p>Board members are expected to participate in all board meetings. In case they
cannot attend a meeting, they should announce that on the board mailing list.</p>


<h2 id="decisions">Decisions</h2>

<p>Board decisions are taken on the board mailing list or by any other means,
where a sufficient number of board members is participating, e.g. a personal
meeting or a phone call.</p>

<p>In general decisions are taken by a simple majority. To approve or reject a
proposal the majority of the board members has to vote with yes or no.</p>

<p>The board decides about the rules of procedures of the board by an unanimous
vote. The rules are published to the membership.</p>


<h2 id="budget">Budget</h2>

<p>The board decides about the annual budget of KDE e.V. The membership should be
consulted for input and feedback when preparing the budget. The budget should
be decided at the end of the calendar year preceding the year covered by the
budget.</p>

<p>The treasurer is responsible for tracking the budget over the year. </p>

<p>Adjusting limits of budget items in a way, which does not affect the annual
result, requires a majority vote of the board.</p>

<p>Adjusting limits of budget items in a way, which does affect the annual result,
requires an unanimous vote of the board.</p>

<p>Expenses in pre-approved parts of the budget covering fixed costs, do not need
further decisions than the approval of the budget as a whole. This covers things
like the rent for the office, office supplies or ongoing expenses for small
merchandize items. These items are marked in the budget accordingly.</p>

<p>Expenses in the budget areas of variable costs require a majority vote of the
board. This is mostly travel expenses for Akademy, sprints, and similar
community activities.</p>


<h2 id="employees">Employees</h2>

<p>The board manages the employees of KDE e.V. It does that responsibly and
according to professional standards.</p>

<p>For each employee the board appoints one person, who is responsible for
managing the employee. This person is the primary contact for the employee and
is responsible for directing the employee.</p>

<p>The managing person needs to maintain regular communication with the employee.
There should be an annual review meeting between the managing person and the
employee.</p>


<h2 id="conflicts-of-interest">Conflicts of interest</h2>

<p>The board intends to maintain a high standard in dealing with conflicts of
interests. Each board member is required to follow the conflicts of interest
policy and sign the required documents.</p>

<p><em>This policy is maintained by the board of the KDE e.V.</em></p>
