---
title: "KDE e.V. Thank You Policy"
layout: page
---

<h3>Section 1: Introduction</h3>
<ul>
<li>The work of the KDE Community is made possible thanks to contributions from
   KDE Community members, donors and corporations that collaborate with us.
<li>We want to thank those organizations that make significant donations
   of goods and services to KDE by publishing their names on a Thank You
   Page (http://kde.org/thanks.php).
<li>The KDE Community is grateful for all donations, The goal of this policy is
   to define clearly which donors should appear in the Thank You Page.
</ul>

<h3>Section 2: Goals</h3>
<b>Clause 1</b>
<br><br>
The KDE Thank You page is designed for:
<ul>
<li> Goods and services donations. Financial donations, events sponsorship and
  contributions based on employing community members should be published through
  other channels.
<li> Significant donations with an impact for the wider KDE Community. Donations
  limited to individuals or a specific group within the KDE Community should be
  published through other channels.
</ul>

<h3>Section 3: Content</h3>
<b>Clause 2</b>
<br><br>

Each web entry will include the following information:<br>

<ul>
<li>Organization name
<li>We offer to include the logo.
<li>Due to legal reasons, links to the donors won't be included in the Thank You
  Page.
<li>What the donation is being used for.
<li>Donation's impact in KDE.
<li>The year of the donation.
</ul>

<b>Clause 3</b>
<br><br>
Donors will be removed from the Thank You Page in the following situations:
<ul>
<li>The donation is unavailable or not in production for one year.
</ul>

Sysadmin group will be in charge of keeping the Thank You Page updated.
<br><br>

<b>Clause 4</b>
<br><br>

KDE won't make public distinctions between donors based on the value of
their donations. Donors will be listed chronologically by the date when the
donation was effective. Most recent donations are listed at the top.

<h3>Section 4: Coordination and responsibility</h3>
<b>Clause 5</b>
<br><br>
KDE e.V. Board will manage the financial and administrative aspects of
donations.
<br><br>
<b>Clause 6</b>
<br><br>
KDE e.V. Board will determine further clauses and interpret the current ones in
case of conflict.

<br><br>
<hr/>

<p><em>This policy is maintained by the board of the KDE e.V.</em></p>
